<link rel="stylesheet" href="/stylesheets/tracks.css">

<div>
  <h1>Tracks</h1>
</div>

<div>
  <a href="/tracks/new">Post a new track!</a>
</div>

<div>

<% @tracks.each do |track| %>
  <div class="track">
    <h3><%= track.title %> <small>(by: <%= track.author %>)</small></h3>
    <p>
      <%= track.content %>
    </p>
  </div>
<% end %>

</div>

