<link rel="stylesheet" href="/stylesheets/new.css">

<form>

  <div>
    <label>Title:</label>
    <input type="text" name="author">
  </div>

  <div>
    <label>Author:</label>
    <input type="text" name="subject">
  </div>

  <div>
    <label>URL:</label>
    <input type="text" name="content">
  </div>

  <div>
    <label>Picture URL:</label>
    <input type="text" name="content">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>

</form>