<link rel="stylesheet" href="/stylesheets/show.css">

<h1><%= @track.title %></h1>

<p>
  Author: <%= @track.author %>
</p>

<p>
  <%= @track.song_url  %>
</p>

<p>
  <%= @track.picture_url  %>
</p>



<hr/>
<a href="/tracks">Back to All Tracks</a>