
.track {
  border: 2px solid grey;
  border-radius: 10px;
  min-height: 100px;
}

.track img {
  height: 100px;
  width: 100px;
  float: left;
  border-radius: 50px;
}

.track h3 {

}

.track h3 small { 

}

.track:hover {
 background-color: #ff9999 ;
}

.errors {
  text-align: left;
  color: #b30000;
}