
.track {
  background-color: pink;
  height:150px;
}

.track img {
  height: 100px;
  width: 100px;
  margin-top: 25px;
  float: left;
  border-radius: 50px;
}

.track h3 {

}

.track h3 small { 

}

.track:hover {
 background-color: #ff9999 ;
}

.errors {
  text-align: left;
  color: #b30000;
}

.dropdown .dropdown-menu form {
  max-width:200px;
}

li em {
  color: #ff3300;
}